---
layout: default
---

<div class="faculty-detail faculty-detail--coaching">
  <div class="faculty-header">
    <div class="row align-center">
      <div class="large-6 column">
        <div class="faculty-detail__picture" style="background-image:url({{page.facultyImage.url}});"></div>
        <h2>{{ page.firstName }} {{ page.lastName }}</h2>
            <div class="faculty-detail__extras">
              {% if page.website %}
                <a href="{{ page.website }}" class="faculty-detail__extras--social-media" id="faculty-url" target="_blank"><i class="fa fa-link"></i></a>
              {% endif %}
              {% if page.twitter %}
                <a href="{{ page.twitter }}" class="faculty-detail__extras--social-media" target="_blank"><i class="fa fa-twitter"></i></a>
              {% endif %}
              {% if page.linkedIn %}
                <a href="{{ page.linkedIn }}" class="faculty-detail__extras--social-media" id="faculty-linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
              {% endif %}
              {% if page.github %}
                <a href="{{ page.github }}" class="faculty-detail__extras--social-media" id="faculty-github" target="_blank"><i class="fa fa-github"></i></a>
              {% endif %}
              {% if page.email%}
                <a href="mailto:{{ page.email }}" class="faculty-detail__extras--social-media" id="faculty-email"><i class="fa fa-envelope"></i></a>
              {% endif %}
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-section">
    <div class="row align-center">
      <div class="large-10 column">
        <div class="faculty-detail__course-passion">
          <p>{{ page.longBio | markdownify }}</p>
        </div>
      </div>
    </div>
  </div>

{% assign coachingPrograms = site.data.contentful.spaces.cases.coachingProgram | find_data_reference_by_id: page.sys.id, 'faculty' %}

{% assign coachingProgramsSize = coachingPrograms | size %}
{% if coachingProgramsSize > 0 %}
  {% include courses.html courses=coachingPrograms%}
{% endif %}

</div>
