---
layout: default
---

<div class="top-section top-section--blue top-section--project">
  <h1>{{ page.projectName }}</h1>
  <h4>{{ page.projectTitle }}</h4>
  <h3>{{ page.projectSubtitle }}</h3>
  <div class="social-media">
    {% if page.twitter %}
    <a href="http://twitter.com/{{ page.twitter | replace: '@', '' }}" target="_blank" class=""><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if page.facebook %}
    <a href="{{ page.facebook }}" target="_blank" class=""><i class="fa fa-facebook"></i></a>
    {% endif %}
    {% if page.email %}
    <a href="mailto:{{ page.email }}" target="_blank" class=""><i class="fa fa-envelope"></i></a>
    {% endif %}
    {% if page.website %}
    <a href="{{page.website}}" target="_blank" class=""><i class="fa fa-globe"></i></a>
    {% endif %}
  </div>
  <div class="row">
    <div class="column">
      <div class="progress progress--{{page.progress.first | slugify}}">
        <!-- Modifiers: progress--define, progress--prototype, progress--test, progress--complete -->
        <span class="ideation"></span>
        <span class="prototyping"></span>
        <span class="private-beta"></span>
        <span class="public-beta"></span>
        <span class="launched"></span>
      </div>
    </div>
  </div>
</div>

<div class="page-section">
  <div class="row">
    <div class="column large-6 medium-12 small-12">

      {% if page.background %}
      <h4>Background</h4>
      {{ page.background }}
      <br>
      {% endif %}
      {% if page.shortDescription %}
      <h4>Description</h4>
      {{ page.shortDescription }}
      <br>
      {% endif %}
      {% if page.impact %}
      <h4>Impact</h4>
      {{ page.impact }}
      <br>
      {% endif %}
    </div>

    <div class="column large-6 medium-12 small-12">

      {% if page.regoin or page.country or page.city %}
      <div class="project--location">
        <h4>Location</h4>
        {% if page.city %}
        <span>{{ page.city }}</span>
        {% endif %}
        {% if page.country %}
        <span>{{ page.country }}</span>
        {% endif %}
        {% if page.regoin %}
        <span>{{ page.regoin }}</span>
        {% endif %}
      </div>
      {% endif %}

      <div>
        <h4>Categories</h4>
        {% for tag in page.category %}
        <a href="/project-gallery.html?filter=.{{tag | slugify | lower}}" class="button">{{ tag }}</a>
        {% endfor %}
      </div>

      {% if page.team %}
      <div>
        <h4>Team</h4>
        {{ page.team | markdownify }}
      </div>
      {% endif %}

      {% if page.partners %}
      <div>
        <h4>Partners</h4>
        {{page.partners | markdownify }}
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% if page.images %}
<div class="page-section">
  <div class="slider project--slider">
    {% for image in page.images %}
    <div class="slide">
      <div class="project--slider__container">
        <div class="project--slider__image-wrapper">
          <img class="project--slider__image" src="{{image.url}}">
        </div>
        <p class="project--slider__description">{{image.description}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="page-section">
  <div class="row">
    <div class="column large-12">
      <a class="button" href="{{site.url}}{{site.baseurl}}/project-gallery.html">Back to Project Gallery</a>
    </div>
  </div>
</div>

<div class="regions">
  <div class="row align-center">
    <div class="column large-10">
      {% assign region = page.regoin.first %}
      <h4>Region: {{ region }}</h4>
      {% if region == 'Worldwide' %}
        <div class="regions__map regions--worldwide">
          {% include map.html %}
        </div>
      {% elsif region == "North America" %}
        <div class="regions__map regions--north-america">
          {% include map.html %}
        </div>
      {% elsif region == 'Latin America and the Caribbean' %}
        <div class="regions__map regions--latin-america">
          {% include map.html %}
        </div>
      {% elsif region == 'East Asia and Pacific' %}
        <div class="regions__map regions--east-asia">
          {% include map.html %}
        </div>
        {% elsif region == 'South Asia' %}
          <div class="regions__map regions--south-asia">
            {% include map.html %}
          </div>
      {% elsif region == 'Sub-Saharan Africa'%}
        <div class="regions__map regions--sub-saharan-africa">
          {% include map.html %}
        </div>
      {% elsif region == 'Middle East and North Africa' %}
        <div class="regions__map regions--north-africa">
          {% include map.html %}
        </div>
      {% elsif region == 'Europe and Central Asia' %}
        <div class="regions__map regions--europe">
          {% include map.html %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
