---
---

* { box-sizing: border-box; }

// Breakpoints
$small-only: (max-width 40em);
$medium: 40.063em 64em;
$touch: (max-width 64em);
$medium-up: 40.063em;
$large: 64.063em;
$large-up: (min-width 64.063em);

// Colors
$orange: #ee5b43;
$blue: blue;
$purple: purple;
$gray: #ccc;
$white: #fff;
$black: #222;
$dark-gray: rgba(0,0,0,0.6);

$main-color: $orange;

$clinics-color: #ebc058;
$coaching-color: #22a69b;
$workshop-color: #366473;
$masters-color: #f9b26f;
$community-color: #008ab3;
$projects-color: #C62762;


$index-banner: '../images/index.jpg';
$workshop-banner: '../images/workshops.jpg';
$coaching-banner: '../images/coaching.jpg';
$clinics-banner: '../images/clinics.jpg';
$courses-banner: '../images/courses.jpg';


@import 'breakpoint';
@import 'utils';
@import 'styleguide-patch';
@import 'mobile-patch';
@import 'base';

@import 'custom';
@import 'homepage';
// @import 'project-gallery';
// @import 'single-landing';
@import 'course-detail';
@import 'course-list';
@import 'faculty';
@import 'faculty-detail';
@import 'syllabus';
@import 'library';
@import 'community';
@import 'pages';

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

.progress span:nth-child(1):before {
  content: "Ideation";
  right: 90%;
}
.progress span:nth-child(2):before {
  content: "Prototyping";
  right: 70%;
}
.progress span:nth-child(3):before {
  content: "Private Beta";
  right: 45%;
}
.progress span:nth-child(4):before {
  content: "Public Beta";
  right: 20%;
}
.progress span:nth-child(5):before {
  content: "Launched";
  right: 0;
}

.progress--ideation {
  .ideation:before {
    color: white;
    font-weight: bold;
    display: block;
  }
}
.progress--prototyping {
  .prototyping:before {
    color: white;
    font-weight: bold;
    display: block;
  }
}
.progress--private-beta {
  .private-beta:before {
    color: white;
    font-weight: bold;
    display: block;
  }
}
.progress--public-beta {
  .public-beta:before {
    color: white;
    font-weight: bold;
    display: block;
  }
}
.progress--launched {
  .launched:before {
    color: white;
    font-weight: bold;
    display: block;
  }
}
