.top-bar {
  &--orange {
    // background-color: transparentize($workshop-color, 0.2);
    // background-color: transparentize(#523080, 0.2);
    background-color: transparentize(#333, 0.2);
  }

  .menu-item {
    border-bottom: none;
    padding-bottom: 0;
    &--sub {
      font-size: .9rem;
      border-bottom: none;
      padding-top: 5px;
      padding-bottom: 5px;
      &--last { border-bottom: 1px solid rgba(255,255,255,0.1); }
    }
  }
}

.footer--sections a {
  text-align: left;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}