.about-page {
  .noi-section {
    background-color: #008ab3;
    color: white;
    .noi {
      .slick-slide {
        background-color: transparent;
      }

      .slick-arrow:after  {
        color: darken(white, 10);
      }

      .slick-arrow:before {
        color: darken(white, 10);
      }

      .image-container {
        width: 100%;
        max-height: 500px;
        overflow: hidden;
      }
    }
    .slider .slick-arrow {
      @include breakpoint($small-only) {
        top: 20%;
      }
    }
  }
}
