.course-header {
  @extend .top-section;
  padding-bottom: 0;
  padding-top: 30px;
}

.course-detail {
  &__tagline {
    margin: 40px 0 30px;
    font-size: 1.6rem;
    font-weight: 200;
  }

  &__apply {
    text-align: center;
    padding: 0 0 30px;
  }

  &__dates {
    padding: 20px 0;
    background-color: rgba(black, .1);
  }

  h2 { 
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;
  }

  h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: rgba(black, .4);
    margin: 0;
  }

  h5 {
    margin: 0; 
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    opacity: .6;
  }
}



.faculty-card {
  text-align: center;

  &:nth-of-type(odd) {background-color: rgba(black, .05);}
  &--govlab .faculty-card__name { background-color: $purple; }  

  &__picture {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
  }

  &__description {
    padding: 20px;
  }

  &__name {
    margin-top: -35px;
    height: 35px;
    font-size: 1.2rem;
    padding: 5px;
    color: white;
    font-weight: 300;
    letter-spacing: .5px;
    background-color: black;
    opacity: .9;
  }

  .more-info { width: 100%; }
}