/* ----------- Extra Small mobile devices ----------- */
@mixin mobile-xs-portrait-landscape {
  @media only screen 
    and (max-device-width: 320px)
    and (-webkit-min-device-pixel-ratio: 2) {
      @content
    }
}


@mixin mobile-xs-portrait-only {
  @media only screen 
    and (max-device-width: 320px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      @content
    }
}

@mixin mobile-xs-landscape-only {
  @media only screen 
    and (max-device-width: 320px) 
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      @content
    }
}

/* ----------- Smaller mobile devices ----------- */

@mixin mobile-sm-portrait-landscape {
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2) {
      @content
    }
}

@mixin mobile-sm-portrait-only {
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (orientation: portrait)
    and (-webkit-min-device-pixel-ratio: 2) {
      @content
    }
}

@mixin mobile-sm-landscape-only {
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 480px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 2) {
      @content
    }
}

/* ----------- Larger mobile devices ----------- */

@mixin mobile-lg-portrait-landscape {
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    @content
  }
}

@mixin mobile-lg-portrait-only {
  @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: portrait) {
      @content
    }
}

@mixin mobile-lg-landscape-only {
  @media only screen 
    and (min-device-width: 414px) 
    and (max-device-width: 736px) 
    and (-webkit-min-device-pixel-ratio: 3)
    and (orientation: landscape) {
      @content
    }
}

 /* ----------- Mobile Fixes ----------- */

 @include mobile-xs-portrait-landscape {
   /* ----------- Homepage slider fixes----------- */
   .highlights {
     padding: 0;
     .slide {
       min-height: 80vh;
       &__title {
         h1 {font-size: 2rem !important;}
       }
       &__subtitle {
         font-size: 1rem;
       }
       &__description {
         padding: 0 !important;
       }
     }
   }
 }


 @include mobile-xs-landscape-only {
   /* ----------- Homepage slider fixes----------- */
   .highlights {
     .slide {
      padding-top: 1rem !important;
     }
   }
 }



@include mobile-sm-portrait-landscape {
  /* ----------- Homepage slider fixes----------- */
  .highlights {
    padding: 0;
    .slide {
      min-height: 80vh;
      padding: 10vh 0;
      &__title {
        h1 {font-size: 2rem !important;}
      }
      &__subtitle {
        font-size: 1rem;
      }
      &__description {
        padding: 0 10px;
      }
    }
  }
  /* ----------- ----------- */
}

@include mobile-lg-landscape-only  {
  /* ----------- Homepage slider fixes----------- */
  .highlights {
    padding: 0;
    .slide {
      min-height: 80vh;
      padding: 10vh 0;
      &__title {
        h1 {font-size: 2rem !important;}
      }
      &__subtitle {
        font-size: 1rem;
      }
      &__description {
        padding: 0 10px;
      }
    }
  }
  /* ----------- ----------- */
}


