.banner {
  h1, h2, h3, h4, h5 {
    opacity: 1;
  }
  position: relative;
  background-size: cover;
  background-position: center center;
  &--clinics {
    background-image: url($clinics-banner);
    h1, h2, h3, h4, h5 {
      color: $black;
    }
  }
  &--workshop {
    background-image: url($workshop-banner);
    h1, h2, h3, h4, h5 {
      color: $black;
    }
  }
  &--coaching {
    background-image: url($coaching-banner);
  }
  &--index {
    background-image: url($index-banner);
    h1, h2, h3, h4, h5 {
      color: $black;
    }
  }
  &__content {
    z-index: 2;
    position: relative;
  }
  &__overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.85;
    &--clinics {
      background-color: $clinics-color;
    }
    &--workshop {
      background-color: $masters-color;
    }
    &--coaching {
      background-color: $coaching-color;
    }
    &--index {
      background-color: $white;
    }
  }
}

.coaching-method-timeline {
  background: transparent;
  margin-bottom: 40px;
  &__text {
    width: 16.6666666666666%;
    text-align: center;
    display: inline-block;
    color: $black;
    margin-right: -5px;
    vertical-align: top;
    height: 100%;
    padding: 5px;
  }
  &__unit {
    width: 16.6666666666666%;
    display: inline-block;
    position: relative;
    margin-right: -5px;
    &__circle {
      margin: 0 auto;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      border: solid 4px $coaching-color;
      background-color: $white;
    }
    &__line {
      z-index: -1;
      width: 50%;
      height: 8px;
      background-color: $gray;
      position: absolute;
      top: 16px;
      &--left {
        left: 0;
      }
      &--right {
        right: 0;
      }
    }
  }
}

.coaching-method-highlight {
  &__unit {
    border-radius: 5px;
    color: $white;
    text-align: center;
    margin: 5px;
    &__1 {
      background-color: $coaching-color;
    }
    &__2 {
      background-color: $masters-color;
    }
    &__3 {
      background-color: $clinics-color;
    }
  }
}

.coaching-method-list {
  color: $black;
  padding: 15px;
}

.stats {
  background-color: $black;
  color: $white;
  &__number {
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__panel {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: solid 4px $white;
    padding: 5px;
    text-align: center;
    &--1 {
      border-color: $coaching-color;
    }
    &--2 {
      border-color: $community-color;
    }
    &--3 {
      border-color: $masters-color;
    }
    &--4 {
      border-color: $projects-color;
    }
  }
  &__image {
    .material-icons {
      font-size: 100px;
    }
    &--1 {
      color: $coaching-color;
    }
    &--2 {
      color: $community-color;
    }
    &--3 {
      color: $masters-color;
    }
    &--4 {
      color: $projects-color;
    }
  }
}

.page-panel {
  opacity: 1;
  position: relative;
  // height: 90%;
  height: 100%;
  width: 100%;
  // padding: 20px;
  padding: 80px;
  color: $white;
  h2 {
    margin-top: 0;
  }
  .button {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 40px;
    left: 12%;
    width: 77%;
  }
}

.panel-section {
  padding: 0;
  .columns {
    padding: 0;
  }
}

.participant-logos {
  img {
    max-height: 100px;
    margin: 20px;
  }
}

.page-section__content {
  &--workshops-program-panel {
    background-color: $dark-gray;
    height: 100%;
    padding: 30px;
  }
  &--clinics-panel {
    background-color: $dark-gray;
    height: 100%;
    padding: 30px;
  }
  &--coaching-program-panel {
    background-color: transparentize($coaching-color, 0.2);
    height: 100%;
    padding: 30px;
    position: relative;
    h4 {
      margin-top: 10px;
    }
    .button {
      display: block;
      text-align: center;
      position: absolute;
      bottom: 40px;
      left: 5%;
      width: 89%;
    }
  }
}

.page-section--bg {
  background-position: center center;
  background-size: cover;
}