.syllabus {
  &__title {}

  &__date {
    margin: 0;
    font-size: 1.5rem;
    @include breakpoint($small-only) {
      font-size: 1.2rem;
    }
  }

  &__date-container {
    margin-top: 30px;
    margin-left: 30%;
  }

  &___faculty-list {
    position: relative;
  }

  &__section {
    position: relative;
  }

  &__faculty {
    height: 150px;
    width: 150px;
    margin: 0;
    padding: 0;
    position: relative;
    background-size: cover;
    background-position: center;
    display: inline-block;
    float: right;
    right: 0;
    display: inline-block;
    overflow: hidden;
    @include breakpoint($small-only) {
      right: 30px;
      margin: 10px;
    }
    @include breakpoint($medium) {
      right: 0;
    }

    p {
      position: absolute;
      bottom: -80px;
      padding: 10px;
      margin: 0;
      font-size: .8rem;
      background-color: rgba(black, .8);
      color: white;
      width: 100%;
      text-align: center;
      @include transition;
    }
    &:hover p {
      bottom: 0;
    }
  }

  &__description {
    padding-left: 150px;
    padding-right: 150px;
    font-size: 1.1rem;
    @include breakpoint($medium) {
      padding-left: 50px;
      padding-right: 50px;
    }
    @include breakpoint($small-only) {
      padding: 0;

    }
  }

  &__description-text {
    padding-left: 150px;
    padding-top: 50px;
    margin-bottom: 0;
    margin-top: 0;
    @include breakpoint($small-only) {
      padding: 0;
      margin-top: 20px;
      font-size: 1.5rem;
    }
  }

  &__objectives {
    padding: 50px;
    background-color: rgb(230, 230, 230);
    &--objectives {
    }
    &--info {
    }
  }

  &__references {
    padding: 0;
    margin: 0;
    font-weight: bold;
    &--ref {
      margin-top: 0;
      padding-top: 0;
    }
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    &:hover {
      text-decoration: none!important;
      border-bottom: 1px solid rgba(0,0,0,0.4);
    }
  }

  .resources-section .result-item:before {
    border-top: 12px solid $main-color!important;
    border-left: 12px solid $main-color!important;
  }

  .modal--top-section {
    background-color: $main-color;
  }

  .modal__type>span {
    background-color: darken($main-color, 5);
    color: darken($main-color, 20);
  }

  #events {
    .modal--top-section {
      background-color: $main-color;
    }
  }

  #events .result-item .fancy-date__day {
    color: $main-color;
  }

  .download-button {
    margin-left: 150px;
    margin-bottom:20px;
    @include breakpoint($small-only) {
      margin: 25px;
    }
  }
}
