.u-disabled {
  opacity: .3;
  pointer-events: none;   
}

.disabled { @extend .u-disabled; }

.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}

.u-button {
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    color: rgba(white, .8);
    transition: all 0.3s ease;

    &:hover { 
        color: white;
        transition: all 0.3s ease;
    }
}

.u-circle {
  border-radius: 50%;
  overflow: hidden;
}

@mixin transition {
  transition: all .4s ease;
}

@mixin wrap {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

@mixin circle {
  border-radius: 50%;
  overflow: hidden;
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

// crossbrowser styles
@mixin browser($browsers: Mozilla) {
  @each $browser in $browsers {
    html[data-browser*="#{$browser}"] & {
      @content;
    }
  }
}


@mixin cross-browser-select {
  &::before { display: none;}
  appearance: none;
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  background-image: url("https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_keyboard_arrow_down_black_24px.svg");
  background-repeat: no-repeat;
  background-position: 94% center;
  @include breakpoint($medium) {
    background-position: 90% center;
  }
  @include breakpoint($small-only) {
    background-position: 85% center;
  }
  option { color: black; background-color: white;}
}
