<!-- Modal Content -->
<div class="modal js-target-modal">
  <header class="modal__header modal--top-section">

    <i class="modal__close material-icons js-close-modal">close</i>
    <h1  class="modal__title">{{class.classTitle}}</h1>
    <!-- <h2 class="modal__authors">Authors</h2> -->
    <p class="modal__publication"><span>Class</span> {{class.classNumber}}, <span>Week</span> {{class.classWeek}}</p>


    <!-- URL -->
    <div class="floating-button">
      <div class="floating-button__wrapper">
        <!-- <a class="button button--floating button--black" target="_blank" href="" title="">Go to Resource</a> -->
      </div>
    </div>
  </header>

  <div class="modal__content">
    <!-- Short Description -->
    <div class="result-item__short-description">
      <p class="">{{class.classDescription | markdownify }}</p>
    </div>
    <div class="pdf-class-desc" style="display:none; font-size:12px;">
      <p class="">{{class.classDescription | markdownify }}</p>
    </div>

    <div class="result-item__short-description">
      {% if class.resources %}
        <p class="syllabus__references">References:</p>
        {% for resource in class.resources %}
          {% assign class_resource_id = resource.sys.id %}
            {% for item in all_resources %}
              {% if item.sys.id == class_resource_id %}
                <p class="syllabus__references--ref"><i>{{item.title}}</i></p>
                {% endif %}
              {% endfor %}
          {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
