<!-- Main Menu (Off Canvas) -->
<a href="{{site.url}}{{site.baseurl}}/index.html">Home</a>
<a href="{{site.url}}{{site.baseurl}}/about.html">About</a>
<a href="{{site.url}}{{site.baseurl}}/faculty.html">Faculty</a>
<a class="menu-item" href="{{site.url}}{{site.baseurl}}/programs.html">Programs</a>
  <a class="menu-item--sub" href="{{site.url}}{{site.baseurl}}/coaching-programs.html">Coaching Programs</a>
  <a class="menu-item--sub" href="{{site.url}}{{site.baseurl}}/workshops.html">Workshops</a>
  <a class="menu-item--sub" href="{{site.url}}{{site.baseurl}}/master-classes.html">Master Classes</a>
  <a class="menu-item--sub menu-item--sub--last" href="{{site.url}}{{site.baseurl}}/courses.html">Courses</a>
<a href="{{site.url}}{{site.baseurl}}/project-gallery.html">Project Gallery</a>
<a href="{{site.url}}{{site.baseurl}}/library.html">Library</a>
<a href="{{site.url}}{{site.baseurl}}/community.html">Community</a>
<a href="{{site.url}}{{site.baseurl}}/faq.html">FAQ</a>
