---
layout: default
---

<div class="course-list">
  <div class="top-section banner banner--clinics">
    <div class="row banner__content">
      <div class="large-12 column">
        <h1>{{site.data.contentful.spaces.project_clinics_page.projectClinicsPage[0].pageTitle}}</h1>
        <h3>{{site.data.contentful.spaces.project_clinics_page.projectClinicsPage[0].description}}</h3>
      </div>
    </div>
    <div class="banner__overlay banner__overlay--clinics">&nbsp;</div>
  </div>

  <section class="page-section page-section--sequence" style="background-image: url('{{site.url}}{{site.baseurl}}/images/rc8sigfjaho-breather.jpg');">
    <div class="row">
      <div class="column medium-6 page-section__content" style="padding: 10px">
        <div class="page-section__content--clinics-panel">
          <h2>{{site.data.contentful.spaces.project_clinics_page.projectClinicsPage[0].programsOfferTitle}}</h2>
          <p>{{site.data.contentful.spaces.project_clinics_page.projectClinicsPage[0].programsOfferText | markdownify}}</p>
        </div>
      </div>
      <div class="column medium-6 page-section__content" style="padding: 10px">
        <div class="page-section__content--clinics-panel">
          <h2>{{site.data.contentful.spaces.project_clinics_page.projectClinicsPage[0].programInfoTitle}}</h2>
          <p>{{site.data.contentful.spaces.project_clinics_page.projectClinicsPage[0].programInfoText | markdownify}}</p>
        </div>
      </div>
    </div>
  </section>

  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h1>{{site.data.contentful.spaces.project_clinics_page.projectClinicsPage[0].workshopsDescriptionText}}</h1>
      </div>
    </div>
  </div>
  <ul class="course-list">
    {% for course in site.data.contentful.spaces.course %}
    {% if !course.is_crosslisted %}
    <li class="course-item">
      <div class="row">
        <div class="large-12 column">
          <h2 class="course-item__title">{{ course.program_name }}</h2>
        </div>
        <div class="large-6 column">
          <p class="course-item__application">APPLICATION DUE: {{ course.date.application_deadline }}</p>
          <p class="course-item__application">STARTS THE WEEK OF: {{ course.date.start_date }}</p>
          <div class="course-item__faculty-team row column">
            {% for name in course.faculty %}
            {% assign person = site.data.people | where:"title", name | first %}
            {% if person %}
            <a href="./people/{{ person.name.slug }}.html" target="_blank" class="course-item__faculty column large-3 end" style="background-image: url('/images/faculty/{{ person.name.slug }}.jpg');">
              <p>{{ person.name.first }} {{ person.name.last }}</p>
            </a>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="large-6 column">
          <p class="course-item__description">{{ course.description_short }}</p>
          <a href="/{{ course.title | slugify }}.html" class="button">more info</a>
        </div>
      </div>
    </li>
    {% endif %}
    {% endfor %}
  </ul>

  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h1>Courses offered by partner organizations</h1>
      </div>
    </div>
  </div>
  <ul class="course-list course-list--past-courses">
    {% for course in site.data.clinics %}
    {% if course.is_crosslisted %}
    {% comment %}TODO: Filter past events only{% endcomment %}
    <li class="course-item">
      <div class="row">
        <div class="large-6 column">
          <h2 class="course-item__title">{{ course.title }}</h2>
          <p class="course-item__application">STARTED THE WEEK OF: {{ course.date.week_start }}</p>
          <div class="course-item__faculty-team">
            {% for name in course.faculty_members %}
            {% assign person = site.data.people | where:"title", name | first %}
            {% if person %}
            <a href="{{person.name.slug}}.html" target="_blank">
              <div class="course-item__faculty column large-3 end" style="background-image: url('/images/faculty/{{ person.name.slug }}.jpg');">
                <p>{{ person.name.first }} {{ person.name.last }}</p>
              </div>
            </a>
            {% else %}
            <div class="course-item__faculty column large-3 end" style="background-image: url('/images/faculty/{{ person.name.slug  }}.jpg');">
              <p>{{name}}</p>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="large-6 column">
          <p class="course-item__description">{{ course.description_short | safe }}</p>
          <a href="/coaching/{{ course.name | downcase | replace: " ", "-" }}.html" class="button">more info</a>
        </div>
      </div>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
</div>
