---
layout: default
---
{% assign coachingPrograms = site.data.contentful.spaces.coaching_programs.coachingProgram %}

<div class="course-list course-list--coaching">
  <div class="top-section banner banner--coaching">
    <div class="row banner__content">
      <div class="large-12 column">
        <h1>{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].pageTitle}}</h1>
        <h3>{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].description}}</h3>
      </div>
    </div>
    <div class="banner__overlay banner__overlay--coaching">&nbsp;</div>
  </div>

  <div class="page-section page-section--bg" style="background-image: url('{{site.url}}{{site.baseurl}}/images/z3ownetsdnq-avi-richards.jpg');">
    <div class="row">
      <div class="column medium-6 page-section__content" style="padding: 10px">
        <div class="page-section__content--coaching-program-panel">
          <h4>{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].programsOfferTitle}}</h4>
          <p>{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].programsOfferText | markdownify}}</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <a href="{{site.url}}{{site.baseurl}}/master-classes.html" class="button button--transparent">{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].suggestProgramLabel}}</a>
        </div>
      </div>
      <div class="column medium-6 page-section__content" style="padding: 10px">
        <div class="page-section__content--coaching-program-panel">
          <h4>{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].programInfoTitle}}</h4>
          <p>{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].programInfoText | markdownify}}</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <a href="{{site.url}}{{site.baseurl}}/master-classes.html" class="button button--transparent">{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].faqLabel}}</a>
        </div>
      </div>
    </div>
  </div>


  <div class="page-section">
    <div class="row">
      <div class="column medium-12 page-section__content">
        <center><h4 style="color: #222">{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].methodTitle}}</h4></center>
        <div class="coaching-method-timeline">
          <div>
            <div class="coaching-method-timeline__text">{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].methodStep1}}</div>
            <div class="coaching-method-timeline__text">{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].methodStep2}}</div>
            <div class="coaching-method-timeline__text">{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].methodStep3}}</div>
            <div class="coaching-method-timeline__text">{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].methodStep4}}</div>
            <div class="coaching-method-timeline__text">{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].methodStep5}}</div>
            <div class="coaching-method-timeline__text">{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].methodStep6}}</div>
          </div>
          <div class="coaching-method-timeline__unit">
            <div class="coaching-method-timeline__unit__line coaching-method-timeline__unit__line--right">&nbsp;</div>
            <div class="coaching-method-timeline__unit__circle">&nbsp;</div>
          </div>
          <div class="coaching-method-timeline__unit">
            <div class="coaching-method-timeline__unit__circle">&nbsp;</div>
            <div class="coaching-method-timeline__unit__line coaching-method-timeline__unit__line--left">&nbsp;</div>
            <div class="coaching-method-timeline__unit__line coaching-method-timeline__unit__line--right">&nbsp;</div>
          </div>
          <div class="coaching-method-timeline__unit">
            <div class="coaching-method-timeline__unit__circle">&nbsp;</div>
            <div class="coaching-method-timeline__unit__line coaching-method-timeline__unit__line--left">&nbsp;</div>
            <div class="coaching-method-timeline__unit__line coaching-method-timeline__unit__line--right">&nbsp;</div>
          </div>
          <div class="coaching-method-timeline__unit">
            <div class="coaching-method-timeline__unit__circle">&nbsp;</div>
            <div class="coaching-method-timeline__unit__line coaching-method-timeline__unit__line--left">&nbsp;</div>
            <div class="coaching-method-timeline__unit__line coaching-method-timeline__unit__line--right">&nbsp;</div>
          </div>
          <div class="coaching-method-timeline__unit">
            <div class="coaching-method-timeline__unit__circle">&nbsp;</div>
            <div class="coaching-method-timeline__unit__line coaching-method-timeline__unit__line--left">&nbsp;</div>
            <div class="coaching-method-timeline__unit__line coaching-method-timeline__unit__line--right">&nbsp;</div>
          </div>
          <div class="coaching-method-timeline__unit">
            <div class="coaching-method-timeline__unit__circle">&nbsp;</div>
            <div class="coaching-method-timeline__unit__line coaching-method-timeline__unit__line--left">&nbsp;</div>
          </div>
        </div>
        <div class="coaching-method-highlight">
          <div class="coaching-method-highlight__unit coaching-method-highlight__unit__1">{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].methodHighlight1}}</div>
          <div class="coaching-method-highlight__unit coaching-method-highlight__unit__2">{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].methodHighlight2}}</div>
          <div class="coaching-method-highlight__unit coaching-method-highlight__unit__3">{{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].methodHighlight3}}</div>
        </div>
        <div class="coaching-method-list">
          {{site.data.contentful.spaces.coaching_programs_page.coachingProgramsPage[0].methodText | markdownify}}
        </div>
      </div>
    </div>
  </div>

  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h1>Upcoming courses</h1>
      </div>
    </div>
  </div>
  <ul class="course-list">

    {% assign currentCoachingPrograms = coachingPrograms | find_upcoming_data: 'applicationDeadline' | sort: "applicationDeadline" %}
    {% assign courseSize = currentCoachingPrograms | size %}
    {% if courseSize == 0 %}
    <center><p>There are currently no upcoming courses.</p></center>
    {% else%}
    {% for course in currentCoachingPrograms %}
    <li class="course-item">
      <div class="row">
        <div class="large-12 column">
          <h2 class="course-item__title">{{ course.programName }}</h2>
        </div>
        <div class="large-6 medium-6 small-12 column">
          <p class="course-item__application">APPLICATION DUE: {{ course.applicationDeadline | date: "%B %-d, %Y" }}</p>
          <p class="course-item__application">STARTS THE WEEK OF: {{ course.startDate | date: "%B %-d, %Y" }}</p>
          <div class="course-item__faculty-team row column">
            {% for person in course.faculty %}
            <a href="{{site.url}}{{site.baseurl}}/faculty/{{ person.lastName | slugify | replace_diacritics }}.html" target="_blank" class="course-item__faculty column large-3 end" style="background-image: url({{person.facultyImage.url}});">
              <p>{{ person.firstName }} {{ person.lastName }}</p>
            </a>
            {% endfor %}
          </div>
        </div>
        <div class="large-6 medium-6 small-12 column">
          <p class="e-course-description">{{ course.shortDescription }}</p>
          {% assign link = course.programName %}
          {% assign char = "-" %}

          {% capture link %}
          {{ link | replace: char, "0101010" }}
          {% endcapture %}

          {% assign slugged-link = link %}

          {% capture slugged-link %}
          {{ slugged-link | slugify }}
          {% endcapture %}
          <a href="{{site.url}}{{site.baseurl}}/coaching/{{ slugged-link | replace: "0101010", char  | rstrip | lstrip }}.html" class="button">more info</a>
        </div>
      </div>
    </li>
    {% endfor %}
    {% endif %}
  </ul>

  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h1>Past courses</h1>
      </div>
    </div>
  </div>
  <ul class="course-list course-list--past-courses">

    {% assign pastCoachingPrograms = coachingPrograms | find_past_data: 'applicationDeadline'  | sort: "endDate" | reverse %}

    {% for course in pastCoachingPrograms %}
    <li class="course-item">
      <div class="row">
        <div class="large-6 medium-6 small-12 column">
          <h2 class="course-item__title">{{ course.programName }}</h2>
          <p class="course-item__application">STARTED THE WEEK OF: {{ course.startDate | date: "%B %-d, %Y" }}</p>
          <div class="course-item__faculty-team">
            {% for person in course.faculty %}
            <a href="{{site.url}}{{site.baseurl}}/faculty/{{ person.lastName | slugify | replace_diacritics }}.html" target="_blank">
              <div class="course-item__faculty column large-3 end" style="background-image: url({{person.facultyImage.url}});">
                <p>{{ person.firstName }} {{ person.lastName }}</p>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
        <div class="large-6 medium-6 small-12 column">
          <p class="course-item__description">{{ course.shortDescription | markdownify }}</p>
          {% assign link = course.programName %}
          {% assign char = "-" %}

          {% capture link %}
          {{ link | replace: char, "0101010" }}
          {% endcapture %}

          {% assign slugged-link = link %}

          {% capture slugged-link %}
          {{ slugged-link | slugify }}
          {% endcapture %}
          <a href="{{site.url}}{{site.baseurl}}/coaching/{{ slugged-link | replace: "0101010", char  | rstrip | lstrip }}.html" class="button">more info</a>
        </div>
      </div>
    </li>

    {% endfor %}
  </ul>

</div>

</div>
