---
layout: default
---

<div class="course-list">
  <div class="top-section banner banner--courses">
    <div class="row banner__content">
      <div class="large-12 column">
        <h1>{{site.data.contentful.spaces.courses_page.coursesPage[0].pageTitle}}</h1>
        <h3>{{site.data.contentful.spaces.courses_page.coursesPage[0].description}}</h3>
      </div>
    </div>
    <div class="banner__overlay banner__overlay--courses">&nbsp;</div>
  </div>

  <section class="page-section page-section--sequence" style="background-image: url('{{site.url}}{{site.baseurl}}/images/xii7efh1g6o-alejandro-escamilla.jpg');">
    <div class="row">
      <div class="column medium-6 page-section__content" style="padding: 10px">
        <div class="page-section__content--courses-panel">
          <h2>{{site.data.contentful.spaces.courses_page.coursesPage[0].programsOfferTitle}}</h2>
          <p>{{site.data.contentful.spaces.courses_page.coursesPage[0].programsOfferText | markdownify }}</p>

        </div>
      </div>
      <div class="column medium-6 page-section__content" style="padding: 10px">
        <div class="page-section__content--courses-panel">
          <h2>{{site.data.contentful.spaces.courses_page.coursesPage[0].programInfoTitle}}</h2>
          <p>{{site.data.contentful.spaces.courses_page.coursesPage[0].programInfoText | markdownify }}</p>

        </div>
      </div>
    </div>
  </section>

  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h1>{{site.data.contentful.spaces.courses_page.coursesPage[0].upcomingCoursesText}}</h1>
      </div>
    </div>
  </div>
  <ul class="course-list">
    {% for course in site.data.contentful.spaces.courses.course %}
    <li class="course-item">
      <div class="row">
        <div class="large-12 column">
          <h2 class="course-item__title">{{ course.programName }}</h2>
        </div>
        <div class="large-6 column">
          {% unless course.selfPaced %}<p class="course-item__application">APPLICATION DUE: {{ course.applicationDeadline | date: "%B %-d, %Y"}}</p>{% endunless %}
          {% unless course.selfPaced %}<p class="course-item__application">STARTS THE WEEK OF: {{ course.startDate | date: "%B %-d, %Y" }}</p>{% endunless %}
          {% if course.selfPaced %}<p class="course-item__application">SELF-PACED COURSE</p>{% endif %}
          <div class="course-item__faculty-team row column">
            {% for person in course.faculty %}
            <a href="{{site.url}}{{site.baseurl}}/faculty/{{ person.lastName | slugify | replace_diacritics }}.html" target="_blank">
              <div class="course-item__faculty column large-3 end" style="background-image: url({{person.facultyImage.url}});">
                <p>{{ person.firstName }} {{ person.lastName }}</p>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
        <div class="large-6 column">
          <p class="course-item__description">{{ course.shortDescription }}</p>
          <a href="{{site.url}}{{site.baseurl}}/courses/{{ course.programName | slugify }}.html" class="button">more info</a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
<!--
  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h1>Courses offered by partner organizations</h1>
      </div>
    </div>
  </div>
  <ul class="course-list course-list--past-courses">
    {% for course in site.data.courses %}
    {% if course.is_crosslisted %}
    {% comment %}TODO: Filter past events only{% endcomment %}
    <li class="course-item">
      <div class="row">
        <div class="large-6 column">
          <h2 class="course-item__title">{{ course.programName }}</h2>
          <p class="course-item__application">STARTED THE WEEK OF: {{ course.date.week_start }}</p>
          <div class="course-item__faculty-team">
            {% for name in course.faculty_members %}
            {% assign person = site.data.people | where:"title", name | first %}
            {% if person %}
            <a href="{{person.name.slug}}.html" target="_blank">
              <div class="course-item__faculty column large-3 end" style="background-image: url('/images/faculty/{{ person.name.slug }}.jpg');">
                <p>{{ person.name.first }} {{ person.name.last }}</p>
              </div>
            </a>
            {% else %}
            <div class="course-item__faculty column large-3 end" style="background-image: url('/images/faculty/{{ person.name.slug  }}.jpg');">
              <p>{{name}}</p>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="large-6 column">
          <p class="course-item__description">{{ course.description_short | safe }}</p>
          <a href="/coaching/{{ course.name | downcase | replace: " ", "-" }}.html" class="button">more info</a>
        </div>
      </div>
    </li>
    {% endif %}
    {% endfor %}
  </ul> -->
</div>
