---
layout: default_no_logo
custom_body: homepage
title: GovLab Academy
---

<div class="top-section banner banner--index" style="background-color: white; background-position: top; background-size: cover; background-repeat: no-repeat; padding: 0;">
  <div class="row banner__content expanded">
    <div class="large-12 column" style="position: relative;">
      <div style="max-width: 62.5rem; margin: 0 auto; padding-top: 70px; z-index: 10; position: relative;">
        <img src="{{site.url}}{{site.baseurl}}/images/govlab-academy-logo-dark.png" alt="GovLab Academy">
        <h3>{{site.data.contentful.spaces.index_page.indexPage[0].pageSubtitle}}</h3>
        <div class="row" style="height: 50px;"> &nbsp; </div>
      </div>
      <div class="banner__overlay banner__overlay--index">&nbsp;</div>
    </div>
  </div>

<section class="page-section page-section--sequence panel-section " style="background-color: transparent; text-align: left;">
  <div class="row expanded">
    <div class="columns medium-6">
      <div class="page-panel " style="background-color: rgba(226, 68, 24, 0.7);">
        <h2 style="color: #fff;">Solving Public Problems</h2>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><a href="{{site.url}}{{site.baseurl}}/coaching-programs.html" class="button button--transparent">{{site.data.contentful.spaces.index_page.indexPage[0].moreInformationLabel}}</a></p>
      </div>
    </div>
    <div class="columns medium-6">
      <div class="page-panel " style="background-color: rgba(0, 138, 179, 0.7);">
        <h2 style="color: #fff;">Solving Public Problems with Data</h2>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><a href="http://sppd.thegovlab.org" class="button button--transparent" target="_blank">{{site.data.contentful.spaces.index_page.indexPage[0].moreInformationLabel}}</a></p>
      </div>
    </div>
  </div>
</section>

</div>


<section class="divider">
  <h1>{{site.data.contentful.spaces.index_page.indexPage[0].programsTitle}}</h1>
</section>

<section class="page-section page-section--sequence panel-section" style="background-image: url('{{site.url}}{{site.baseurl}}/images/instructor.jpg');">
  <div class="row expanded">
    <div class="columns medium-6">
      <div class="page-panel page-section__content--coaching">
        <h2>{{site.data.contentful.spaces.index_page.indexPage[0].coachingProgramsTitle}}</h2>
        <p>{{site.data.contentful.spaces.index_page.indexPage[0].coachingProgramsText}}</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><a href="{{site.url}}{{site.baseurl}}/coaching-programs.html" class="button button--transparent">{{site.data.contentful.spaces.index_page.indexPage[0].moreInformationLabel}}</a></p>
      </div>
    </div>
    <div class="columns medium-6">
      <div class="page-panel page-section__content--masters">
        <h2>{{site.data.contentful.spaces.index_page.indexPage[0].workshopsTitle}}</h2>
        <p>{{site.data.contentful.spaces.index_page.indexPage[0].workshopsText}}</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><a href="{{site.url}}{{site.baseurl}}/workshops.html" class="button button--transparent">{{site.data.contentful.spaces.index_page.indexPage[0].moreInformationLabel}}</a></p>
      </div>
    </div>
  </div>

  <div class="row expanded">
    <div class="columns medium-6">
      <div class="page-panel page-section__content--workshop">
        <h2>{{site.data.contentful.spaces.index_page.indexPage[0].coursesTitle}}</h2>
        <p>{{site.data.contentful.spaces.index_page.indexPage[0].coursesText}}</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><a href="{{site.url}}{{site.baseurl}}/courses.html" class="button button--transparent">{{site.data.contentful.spaces.index_page.indexPage[0].moreInformationLabel}}</a></p>
      </div>
    </div>
    <div class="columns medium-6">
      <div class="page-panel page-section__content--clinics">
        <h2>{{site.data.contentful.spaces.index_page.indexPage[0].projectClinicsTitle}}</h2>
        <p>{{site.data.contentful.spaces.index_page.indexPage[0].projectClinicsText}}</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p><a href="http://publicentrepreneur.org" class="button button--transparent" target="_blank">{{site.data.contentful.spaces.index_page.indexPage[0].moreInformationLabel}}</a></p>
      </div>
    </div>
  </div>
</section>


<section class="stats">
  <div class="row">
    <div class="large-12 columns">
      <center><h6>{{site.data.contentful.spaces.index_page.indexPage[0].learnFromTitle}}</h6></center>
    </div>
  </div>
  <div class="row">
    <div class="large-3 small-12 columns">
      <div class="stats__panel stats__panel--1">
        <div class="stats__number">
          {{site.data.contentful.spaces.index_page.indexPage[0].instructorNumber}}
        </div>
        <div class="stats__text">
          {{site.data.contentful.spaces.index_page.indexPage[0].instructorText}}
        </div>
        <div class="stats__image stats__image--1">
          <i class="material-icons">school</i>
        </div>
      </div>
    </div>
    <div class="large-3 small-12 columns">
      <div class="stats__panel stats__panel--2">
        <div class="stats__number">
          {{site.data.contentful.spaces.index_page.indexPage[0].coursesNumber}}
        </div>
        <div class="stats__text">
          {{site.data.contentful.spaces.index_page.indexPage[0].coursesShortText}}
        </div>
        <div class="stats__image stats__image--2">
          <i class="material-icons">create</i>
        </div>
      </div>
    </div>
    <div class="large-3 small-12 columns">
      <div class="stats__panel stats__panel--3">
        <div class="stats__number">
          {{site.data.contentful.spaces.index_page.indexPage[0].mentorNumber}}
        </div>
        <div class="stats__text">
          {{site.data.contentful.spaces.index_page.indexPage[0].mentorText}}
        </div>
        <div class="stats__image stats__image--3">
          <i class="material-icons">device_hub</i>
        </div>
      </div>
    </div>
    <div class="large-3 small-12 columns">
      <div class="stats__panel stats__panel--4">
        <div class="stats__number">
          {{site.data.contentful.spaces.index_page.indexPage[0].participantsNumber}}
        </div>
        <div class="stats__text">
          {{site.data.contentful.spaces.index_page.indexPage[0].participantsText}}
        </div>
        <div class="stats__image stats__image--4">
          <i class="material-icons">person</i>
        </div>
      </div>
    </div>

  </div>

  <div class="row" style="height: 100px;">
    &nbsp;
  </div>
</section>


<section class="divider">
  <h1>{{site.data.contentful.spaces.index_page.indexPage[0].featuredProgramTitle}}</h1>
</section>

<div class="slider course-list course-list--past-courses">

  {% assign courses = site.data.contentful.spaces.carousels.carousel %}

  {% for course in courses %}
  <section class="slide course-item page-section page-section--sequence" style="">
    <div class="row">
      <div class="large-6 medium-6 small-12 column">
        <h2 class="course-item__title">{{ course.programName }}</h2>
        <div class="course-item__faculty-team">
          {% for person in course.faculty %}
          <a href="{{site.url}}{{site.baseurl}}/faculty/{{ person.lastName | slugify | replace_diacritics }}.html" target="_blank">
            <div class="course-item__faculty column large-3 end" style="background-image: url({{person.facultyImage.url}});">
              <p>{{ person.firstName }} {{ person.lastName }}</p>
            </div>
          </a>
          {% endfor %}
        </div>
      </div>
      <div class="large-6 medium-6 small-12 column">
        <div class="course-item__description">{{ course.description | markdownify }}</div>
        {% assign link = course.destinationUrl %}
        <a href="{{ link | rstrip | lstrip }}" class="button">more info</a>
      </div>
    </div>
  </section>
  {% endfor %}

</div>

<section class="divider" style="width: 100%; background-color: rgba(51, 51, 51, 0.8);">
  <p style="color: #fff;">GovLab Academy offers passionate teams and individuals, inside and outside of government:</p>
</section>

<div class="row banner__content expanded">
  <section class="page-section page-section--sequence" style="background-color: transparent; padding-top: 0; padding-bottom: 0;">
    <div class="row flex-center">
      <div class="column medium-4 small-12 page-section__content" style="padding: 0;">
        <div class="page-section__content--index-panel page-section__content--index-panel--1" style="padding-bottom: 0;">
          <div>
            <img src="{{site.url}}{{site.baseurl}}/images/flex-w.svg" alt="GovLab Academy" style="height: 120px">
            <p>Flexible, customized programs responsive to the participants’ specific needs and challenges and rigorous diagnosis of impediments to project implementation</p>
          </div>
        </div>
      </div>
      <div class="column medium-4 small-12 page-section__content" style="padding: 0">
        <div class="page-section__content--index-panel page-section__content--index-panel--3">
          <div>
            <img src="{{site.url}}{{site.baseurl}}/images/problemsolve2.svg" alt="GovLab Academy" style="height: 120px">
            <p>Emphasis on specific and evidence-based problem definition to ensure that the project solves a well-defined problem</p>
          </div>
        </div>
      </div>
      <div class="column medium-4 small-12 page-section__content" style="padding: 0">
        <div class="page-section__content--index-panel page-section__content--index-panel--2">
          <div>
            <img src="{{site.url}}{{site.baseurl}}/images/knowledge-w.svg" alt="GovLab Academy" style="height: 120px">
            <p>A combination of subject-matter and skills-based training to address both deficits in knowledge about innovation and in know how about how to apply that knowledge to one’s own project</p>
          </div>
        </div>
      </div>
      <div class="column medium-4 small-12 page-section__content" style="padding: 0">
        <div class="page-section__content--index-panel page-section__content--index-panel--5">
          <div>
            <img src="{{site.url}}{{site.baseurl}}/images/peer.svg" alt="GovLab Academy" style="height: 120px">
            <p>Peer-to-peer support where similarly situated public entrepreneurs counsel and support each other through challenges together</p>
          </div>
        </div>
      </div>
      <div class="column medium-4 small-12 page-section__content" style="padding: 0">
        <div class="page-section__content--index-panel page-section__content--index-panel--6">
          <div>
            <img src="{{site.url}}{{site.baseurl}}/images/teaching.svg" alt="GovLab Academy" style="height: 120px">
            <p>Mentoring and coaching from experts with a track record of leading successful social change</p>
          </div>
        </div>
      </div>
      <div class="column medium-4 small-12 page-section__content" style="padding: 0">
        <div class="page-section__content--index-panel page-section__content--index-panel--4">
          <div>
            <img src="{{site.url}}{{site.baseurl}}/images/tools.svg" alt="GovLab Academy" style="height: 120px">
            <p>High-quality original and curated content, tools, and resources</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


<section class="page-section page-section--dark banner" style="background-image: url('{{site.url}}{{site.baseurl}}/images/pubentbg.jpg'); background-size: cover;">
  <div class="row banner__content">
    <div class="columns medium-12">
      <div class="row" style="height: 100px;"> &nbsp; </div>
      <h2 style="margin-bottom: 0;"><img src="{{site.url}}{{site.baseurl}}/images/govlab-logo-white.png" style="height: 70px; vertical-align: middle;"> <span style="vertical-align: middle;">Public Entrepreneurship</span></h2>
      <p style="font-size: 1.4rem;">The ability to adopt new technological innovations for governing, especially to use technology to collaborate with others, demands, first and foremost, the ability to define the problem one is trying to solve. In this video, Professor Beth Simone Noveck speaks about the art of problem definition.</p>
      <p style="text-align: center; padding-top: 40px;"><a href="https://www.youtube.com/watch?v=iDAcR4w4RK8" class="button" target="_blank">Learn More <i class="material-icons">launch</i></a></p>
      <div class="row" style="height: 100px;"> &nbsp; </div>
    </div>
  </div>
  <div class="banner__overlay banner__overlay--alt">&nbsp;</div>
</section>


<section class="page-section page-section--sequence" style="text-align: center;">
  <div class="row">
    <div class="columns medium-12">
      <h4>{{site.data.contentful.spaces.index_page.indexPage[0].participantsLabel}}</h4>
      <div class="participant-logos">
        <img src="{{site.url}}{{site.baseurl}}/images/logos/bw/fci.png">
        <img src="{{site.url}}{{site.baseurl}}/images/logos/bw/usda.png">
        <img src="{{site.url}}{{site.baseurl}}/images/logos/bw/nyc-parks.png">
        <img src="{{site.url}}{{site.baseurl}}/images/logos/bw/oas.gif">
        <img src="{{site.url}}{{site.baseurl}}/images/logos/bw/barcelona-activa.png">
        <img src="{{site.url}}{{site.baseurl}}/images/logos/bw/tcf.png">
        <img src="{{site.url}}{{site.baseurl}}/images/logos/bw/ogp.png">
        <img src="{{site.url}}{{site.baseurl}}/images/logos/bw/bac.png">
        <img src="{{site.url}}{{site.baseurl}}/images/logos/bw/nestle.png">
        <img src="{{site.url}}{{site.baseurl}}/images/logos/bw/unigeneve.png">
        <img src="{{site.url}}{{site.baseurl}}/images/logos/bw/canada.png">
        <img src="{{site.url}}{{site.baseurl}}/images/logos/bw/hackerlab.png">
      </div>
    </div>
  </div>
  <div class="row" style="height: 100px;"> &nbsp; </div>
</section>

<div class="divider" style="padding: 80px 0;">
  <div class="row">
    <div class="large-6 column">
      <div>
        <h4><strong>Subscribe</strong> {{site.data.contentful.spaces.index_page.indexPage[0].mailingListLabel}}</h4>
      </div>
      <form class="form form--negative" method="post" action="//thegovlab.us6.list-manage.com/subscribe/post?u=1a990feb5c&amp;id=d90a01c7ff" target="_blank" >
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_1a990feb5c_d90a01c7ff" tabindex="-1" value=""></div>
        <input type="email" name="EMAIL" placeholder="Email" style="display: inline;    width: 250px;">
        <button type="submit" style="display: inline;">Subscribe</button>
      </form>
    </div>
    <div class="large-6 column">
      <div>
        <h4><strong>Subscribe</strong> {{site.data.contentful.spaces.index_page.indexPage[0].digestLabel}}</h4>
      </div>
      <form class="form form--negative" method="post" action="//thegovlab.us6.list-manage.com/subscribe/post?u=1a990feb5c&amp;id=d90a01c7ff" target="_blank" >
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_1a990feb5c_d90a01c7ff" tabindex="-1" value=""></div>
        <input type="email" name="EMAIL" placeholder="Email" style="display: inline;    width: 250px;">
        <button type="submit" style="display: inline;">Subscribe</button>
      </form>
    </div>
  </div>
</div>
</div>
