---
layout: default
custom_body: homepage
---

<section class="top-section highlights highlight--purple">
  <div class="row expanded collapse small-unstack">
    <div class="large-8 medium-12 small-12 columns">
      <div class="slider">
        {% assign carousel_data = site.data.contentful.spaces.carousels.carousel %}
        {% for carousel in carousel_data %}
        <div class="slide" style="background-image: url({{carousel.slideImage.url }})">
          <div class="slide__text-container">
            <a class="slide__title" href="{{carousel.destinationUrl}}"><h1>{{carousel.slideTitle}}</h1></a>
            <h5 class="slide__subtitle">{{carousel.slideSubtitle}}</h5>
            <p class="slide__description">{{carousel.slideDescription}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="large-4 medium-12 small-12 columns small-banner">
      <a class="small-banner__item small-banner--canvas" href="#">  <h3>Subscribe to the Academy Mailing List</h3>
      <p></p>
      </a>
      <a class="small-banner__item small-banner--noi" href="{{site.url}}{{site.baseurl}}/community.html">
        <h3>Connect With Our Community</h3>
        <p>The skill-sharing network for public entrepreneurs worldwide</p>
      </a>
    </div>
  </div>
</section>

<section class="divider">
  <h1>Training the Next Generation of Public Entrepreneurs</h1>
</section>

<section class="team-bullets">
  <div class="row">
    <div class="columns">
      <h6>GovLab Academy offers passionate teams and individuals, inside and outside of government:</h6>
      <ul>
        <li>A flexible, customized program responsive to the participants’ specific needs and challenges</li>
        <li>Rigorous diagnosis of impediments to project implementation</li>
        <li>Emphasis on specific and evidence-based problem definition to ensure that the project solves a well-defined problem</li>
        <li>A combination of subject-matter and skills-based training to address both deficits in knowledge about innovation and in know how about how to apply that knowledge to one’s own project</li>
        <li>Peer-to-peer support where similarly situated public entrepreneurs counsel and support each other through challenges together</li>
        <li>Mentoring and coaching from experts with a track record of leading successful social change</li>
        <li>High-quality original and curated content, tools, and resources</li>
      </ul>
    </div>
  </div>
</section>

<section class="divider">
  <h1>Programs We Offer</h1>
</section>

<section class="main-categories">
  <div class="row expanded medium-unstack">
    <a href="{{site.url}}{{site.baseurl}}/coaching-programs.html" class="main-categories__item main-categories--coaching large-3 columns">Coaching Programs</a>
    <a href="{{site.url}}{{site.baseurl}}/courses.html" class="main-categories__item main-categories--clinics large-3 columns">Project Clinics</a>
    <a href="{{site.url}}{{site.baseurl}}/workshops.html" class="main-categories__item main-categories--workshop large-3 columns">Workshops</a>
    <a href="{{site.url}}{{site.baseurl}}/master-classes.html" class="main-categories__item main-categories--masters large-3 columns">Master Classes</a>
  </div>
</section>

<!-- <section class="upcoming-courses">
  <div class="row expanded">
  {% assign latestCourses = coaching | getLatestCourses %}
  {% for course in latestCourses %}
    <div class="upcoming-courses__item m-coaching large-4 columns">
      <div class="upcoming-courses__date">{{course.date.start}}</div>
        <h3>{{course.name}}</h3>
        <p>{{ course.description_short }}</p>
        <a href="{{course.id}}.html" class="button">Learn more</a>
    </div>
    {% endfor %}
  </div>
</section> -->

<section class="page-section page-section--sequence" style="background-image: url('{{site.url}}{{site.baseurl}}/images/z3ownetsdnq-avi-richards.jpg');">
  <div class="row">
    <div class="columns medium-7 page-section__content page-section__content--coaching">
      <h2>Coaching Programs</h2>
      <p>Online coaching sessions designed to help purpose-driven participants (individuals and teams, inside and outside of government), passionate about a public problem, take an existing project from idea to implementation.</p>
      <p><a href="{{site.url}}{{site.baseurl}}/coaching-programs.html" class="button button--transparent">View Courses</a></p>
    </div>
  </div>
</section>

<section class="page-section page-section--sequence" style="background-image: url('{{site.url}}{{site.baseurl}}/images/ryyr-k3ysqg-damian-zaleski.jpg');">
  <div class="row">
    <div class="columns medium-7 page-section__content page-section__content--workshop">
      <h2>Workshops</h2>
      <p>Customized 1-3 day, hands on, in-person working sessions for city and government agency-based teams on specific issues and challenges at one or another stage of the governance innovation process. </p>
      <p><a href="{{site.url}}{{site.baseurl}}/workshops.html" class="button button--transparent">View Courses</a></p>
    </div>
  </div>
</section>

<section class="page-section page-section--sequence" style="background-image: url('{{site.url}}{{site.baseurl}}/images/xii7efh1g6o-alejandro-escamilla.jpg');">
  <div class="row">
    <div class="columns medium-7 page-section__content page-section__content--masters">
      <h2>Master Classes</h2>
      <p>Masters and professional-level project-based courses and clinics focused on the innovative application of civic technology to public problems. Online or blended delivery.</p>
      <p><a href="{{site.url}}{{site.baseurl}}/master-classes.html" class="button button--transparent">View Courses</a></p>
    </div>
  </div>
</section>

<section class="page-section page-section--sequence" style="background-image: url('{{site.url}}{{site.baseurl}}/images/rc8sigfjaho-breather.jpg');">
  <div class="row">
    <div class="columns medium-7 page-section__content page-section__content--clinics">
      <h2>Courses</h2>
      <p>Graduate and professional-level courses, for credit and/or for certification, on the overall governance innovation process, as well as on specific technology-enabled approaches to governance innovation.</p>
      <p><a href="{{site.url}}{{site.baseurl}}/courses.html" class="button button--transparent">View Courses</a></p>
    </div>
  </div>
</section>
