---
layout: default
---

<section class="project-gallery-page">
  <header class="top-section top-section--orange m-blue">
    <div class="row">
      <div class="large-10 large-offset-1 columns end">
        <h2>{{site.data.contentful.spaces.project_gallery_page.page_title}}</h2>
        <h3>{{site.data.contentful.spaces.project_gallery_page.description}}</h3>
<!--         <p class="e-sponsor m-centered">
          With support from <img id="knight-logo" src="/images/knight-logo-white.png" alt="Knight Foundation">
        </p> -->
      </div>
    </div>
  </header>

  <div class="page-section project-list">
    <div class="row">
      <div class="column large-6 large-offset-3 small-12 small-offset-0">
        <div class="filter-ui">
          <form action="#" class="form">
            <div class="filter-ui-container">
              <div class="select">
                <select id="filter-category" class="filter js-change" >
                  <option data-filter="*">Select a project category...</option>
                  <option data-filter="open-data">Open Data</option>
                  <option data-filter="open-contracting">Open Contracting</option>
                  <option data-filter="data-analytics">Data Analytics</option>
                  <option data-filter="crowdsourcing">Crowdsourcing</option>
                  <option data-filter="collective-intelligence">Collective Intelligence</option>
                  <option data-filter="tech-procurement">Tech Procurement</option>
                  <option data-filter="citizen-engagement">Citizen Engagement</option>
                  <option data-filter="big-data">Big Data</option>
                  <option data-filter="agile-research">Agile Research</option>
                  <option data-filter="citizen-science">Citizen Science</option>
                  <option data-filter="humanitarian-innovation">Humanitarian Innovation</option>
                  <option data-filter="nudges">Nudges</option>
                  <option data-filter="communications">Communications</option>
                  <option data-filter="legal-innovation">Legal Innovation</option>
                  <option data-filter="open-source">Open Source</option>
                  <option data-filter="data-science">Data Science</option>
                  <option data-filter="service-design">Service Design</option>
                </select>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="project-gallery-grid isotope">
      {% for card in site.data.contentful.spaces.projects.project %}
      <a href="{{site.url}}{{site.baseurl}}/projects/{{card.projectName | slugify}}.html">
        <article class="card-3 result-item
        {% for c in card.category %}
        {{c | slugify}}
        {% endfor %}
        ">
        <!-- <div class="card-3__image" bg-url="{{card.projectLogo.url}}"> -->
        <div class="card-3__image" style="background-image: url('{{card.projectLogo.url}}')">
          <div class="card-3__content">
            <h1>{{card.projectName}}</h1>
          </div>
        </div>
      </article>
    </a>
    {% endfor %}
  </div>
    <div class="page-section">
    <div class="row">
      <div class="column medium-12 page-section__content page-section__content--projects">
        <h2>{{site.data.contentful.spaces.project_gallery_page.student_projects_title}}</h2>
        <p>{{site.data.contentful.spaces.project_gallery_page.student_projects_description}}</p>
      </div>
    </div>
  </div>
</div>
</section>
