---
layout: default
---

<div class="course-list">
  <div class="top-section course-list__banner course-list__banner--workshop">
    <div class="row">
      <div class="large-12 column">
        <h1>{{site.data.contentful.spaces.workshops_page.page_title}}</h1>
        <h3>{{site.data.contentful.spaces.workshops_page.description}}</h3>
        <div class="course-list__overlay course-list__overlay--workshop">&nbsp;</div>
      </div>
    </div>
  </div>
  <div class="page-section">
    <div class="row">
      <div class="column medium-6 page-section__content page-section__content--workshops">
        <h2>{{site.data.contentful.spaces.workshops_page.program_offers_title}}</h2>
        <p>{{site.data.contentful.spaces.workshops_page.program_offers_text}}</p>

      </div>
      <div class="column medium-6 page-section__content page-section__content--workshops">
        <h2>{{site.data.contentful.spaces.workshops_page.program_info_title}}</h2>
        <p>{{site.data.contentful.spaces.workshops_page.program_info_text}}</p>

      </div>
    </div>
  </div>
  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h1>{{site.data.contentful.spaces.workshops_page.workshops_description_text}}</h1>
      </div>
    </div>
  </div>
  <ul class="course-list">
    {% for workshop in site.data.contentful.spaces.workshops.workshop %}
      {% for type in workshop.workshopType %}
        {% if type != "Partner Workshop" %}
          <li class="course-item">
            <div class="row">
              <div class="large-6 column">
                <h2 class="course-item__title">{{ workshop.workshopName }}</h2>
                {% if workshop.partner %}
                  <h6 class="course-item__type">{{ workshop.partner }}</h6>
                {% endif %}
                {% if type == "By Request" %}
                  <h6 class="course-item__type">{{ workshop.workshopType }}</h6>
                {% endif %}
              </div>
              <div class="large-6 column">
                <p class="e-course-description">{{ workshop.shortDescription }}</p>
                {% if workshop.website %}
                  <a class="button button--workshops" href="{{workshop.website}}">Course Page</a>
                {% endif %}
                {% if workshop.workshopPdf %}
                  <a class="button button--workshops" href="{{ workshop.workshopPdf.url }}">Course Syllabus</a>
                {% endif %}
                {% if workshop.faculty %}
                  {% for member in workshop.faculty %}
                  <div class="faculty-container">
                    <div class="faculty-image" style="background-image: url({{member.facultyImage.url}});">
                      <a href="{{site.url}}{{site.baseurl}}/faculty/{{ member.lastName | slugify | replace_diacritics }}.html" target="_blank" class="faculty-image"></a>
                      <p>{{member.firstName}} {{member.lastName}}</p>
                    </div>
                  </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
  <div class="divider">
    <div class="row">
      <div class="large-12 column">
        <h1>Workshops offered by partner organizations</h1>
      </div>
    </div>
  </div>
  <ul class="course-list">
    {% for workshop in site.data.contentful.spaces.workshops.workshop %}
      {% for type in workshop.workshopType %}
        {% if type == "Partner Workshop" %}
          <li class="course-item">
            <div class="row">
              <div class="large-6 column">
                <h2 class="course-item__title">{{ workshop.workshopName }} </h2>
                <h6 class="course-item__type">{{ workshop.partner }}</h6>
              </div>
              <div class="large-6 column">
                <p class="e-course-description">{{ workshop.shortDescription }}</p>
                {% if workshop.website %}
                  <a class="button button--workshops" href="{{workshop.website}}">Course Page</a>
                {% endif %}
                {% if workshop.workshopPdf %}
                  <a class="button button--workshops" href="{{ workshop.workshopPdf.url }}">Course Syllabus</a>
                {% endif %}
                {% if workshop.location %}
                  <a class="button button--workshops" href="https://goo.gl/maps/dZ5BZ">LOCATION</a>
                {% endif %}
              </div>
            </div>
          </li>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </ul>
</div>
